@model IEnumerable<ProjetoMVC.Models.Livro>

@{
    ViewData["Title"] = "Livros por Gênero";
}

<h2>Livros por Gênero</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Editora)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Reservado)
                </td>
                <td>
                    <!-- Adicione os links para Editar, Detalhes e Deletar conforme necessário -->
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
